OPENAI_API_KEY=
OPENAI_TRANSCRIBE_MODEL=gpt-4o-mini-transcribe
OPENAI_TRANSCRIBE_PROMPT=
RECORDINGS_DIR=recordings
FFMPEG_PATH=
FRAME_RATE=30
VIDEO_CRF=23
TRANSCRIPTION_AUDIO_BITRATE_KBPS=48
TOGGLE_RECORDING_HOTKEY=<f8>
ADD_CHAPTER_HOTKEY=<f9>
ANATOMY_CAPTURE_HOTKEY=<f10>
